div.actions__login.login
    include ../blocks/login
div.actions__currency.currency
    include ../blocks/currency
div.language.actions__language
    include ../blocks/language.pug
div.actions__contacts.contacts
    a(class="contacts__phone" href="tel:88005006105") 8 800 500-61-05
    span.contacts__text Круглосуточная поддержка


