div.actions__login.login
    a(class="login__link" href="#") Личный кабинет
div.actions__currency.currency
    a(class="currency__link" href="#") Рубль
div.actions__language-bar.language-bar
    a(class="language-bar__link" href="#") Ru
div.actions__contacts.contacts
    a(class="contacts__phone" href="tel:88005006105") 8800500-61-05
    span.contacts__text Круглосуточная поддержка


