div.actions__login.login
    include ../blocks/login
div.actions__currency.currency
    include ../blocks/currency
div.language.actions__language
    include ../blocks/language.pug
div.actions__contacts.contacts
    include ../blocks/contacts


