button(class="btn currency__btn" data-togglr-target=".currency__content" data-togglr-toggle="currency__content--opened") Рубль
div.currency__content
    a(class="currency__link" href="#") Рубль
    a(class="currency__link" href="#") Евро