button(class="btn language__btn" data-toggl-target=".language__content" data-togglr-toggle="language__content--opened") Ru
div.language__content
    a(class="language__link" href="#") Русский
    a(class="language__link" href="#") English