button(class="btn login__btn" data-togglr-target=".login__content" data-togglr-toggle="login__content--opened")  Личный кабинет
div.login__content
        a(class="login__link" href="#") Регистрация
        a(class="login__link" href="#") Войти