include ../mixins/main-menu-item
ul.main-menu__list
    +main-menu-item('Популярные маршруты')
    +main-menu-item('Расписание рейсов')
    +main-menu-item('Забранированные рейсы')
    +main-menu-item('Вход для партнеров')
    +main-menu-item('О компаниии')
    +main-menu-item('Контакты')
button(class="btn main-menu__btn" data-toggl-target=".site" data-togglr-toggle="site--opened")
    span.visually-hidden Открыть меню
    span.btn__line