include ../mixins/main-menu-item
ul.main-menu__list
    +main-menu-item('Популярные маршруты')
    +main-menu-item('Расписание рейсов')
    +main-menu-item('Забранированные рейсы')
    +main-menu-item('Вход для партнеров')
    +main-menu-item('О компании')
    +main-menu-item('Контакты')
button(class="btn main-menu__btn" data-togglr-target=".main-menu__list" data-togglr-toggle="main-menu__list--opened")
    span.visually-hidden Открыть меню
    span.btn__line