include ../mixins/menu-item
ul.menu__list
    +menu-item('Популярные маршруты')
    +menu-item('Расписание рейсов')
    +menu-item('Забранированные рейсы')
    +menu-item('Вход для партнеров')
    +menu-item('О компаниии')
    +menu-item('Контакты')
button.btn.menu__btn
    span.visually-hidden Открыть меню
    span.btn__line