div.page-footer__inner
    h3.page-footer__caption Будь на связи:
    div.page-footer__social.social
        a(class="btn social__btn social__btn--vk" href="#") Вконтакте
        a(class="btn social__btn social__btn--ok" href="#") Одноклассники
        a(class="btn social__btn social__btn--youtube" href="#") Ютуб
        a(class="btn social__btn social__btn--inst" href="#") Инстаграм
    div.page-footer__contacts.contacts
        include ../blocks/contacts
    div.page-footer__copyright.copyright
        p.copyright__text &copy; 2016 OOO &laquo;Городские Круизы&raquo;