h3.page-footer__caption Будь на связи:
div.page-footer__social.social
    a(class="btn social__btn social__btn--vk" href="#") Вконтакте
    a(class="btn social__btn social__btn--ok" href="#") Одноклассники
    a(class="btn social__btn social__btn--youtube" href="#") Ютуб
    a(class="btn social__btn social__btn--inst" href="#") Инстаграм
div.page-footer__contacts.contacts
    a(class="contacts__phone" href="tel:88005006105") 8 800 500-61-05
    p.contacts__text Круглосуточная поддержка
div.page-footer__copyright.copyright
    p.copyright__text &copy; 2016 OOO &laquo;Городские Круизы&raquo;