.actions {
  &__contacts {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 143px;
  }
  &__language {
    width: 48px;
    position: relative;
  }
  &__login {
    width: 149px;
  }
  &__currency {
    width: 77px;
  }
}