.card {
  &__link {
    text-decoration: none;
    color: $color-blue--light;
  }
  &__title {
    font: {
      weight: normal;
      size: 18px;
      family: $font-stack--base;
    }
    margin-bottom: 14px;
    line-height: 1.1;
    width: 220px;
    @include above($lg) {
      width: auto;
    }
  }
  &__tag {
    font: {
      size: 14px;
      family: $font--additional;
    }
    line-height: 1.3;
    width: 88px;
    padding: 42px 0;
    text-align: center;
    color: $color-white;
    text-transform: uppercase;
    background: no-repeat center;
    position: absolute;
    right: 26px;
    top: -17px;
    @include above($md) {
      right: 35px;
    }
  }
  &__tag--pink {
    background-image: url('../images/tag-pink.png');
  }
  &__tag--blue {
    background-image: url('../images/tag-blue.png');
  }
  &__img {
    display: block;
    height: 228px;
    @include above($md) {
      height: auto;
    }
  }
  &__content {
    padding: 25px 16px 10px 21px;
    background: $color-white;
    box-sizing: border-box;
    height: 240px;
    @include above($md) {
      height: 235px;
      padding-left: 33px;
      padding-right: 65px;
    }
    @include above($lg) {
      height: 190px;
    }
  }
  &__description {
    margin-bottom: 11px;
  }
  &__title::after {
    display: inline-block;
    content: '';
    width: 9px;
    height: 9px;
    background: url("../images/arrow-title.png") no-repeat center;
    position: relative;
    left: 5px;
  }
  &__price {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    @include above($lg) {
      width: 270px;
    }
  }
  &__description--different-margin {
    margin-bottom: 36px;
    @include above($lg) {
      margin-bottom: 0;
    }
  }
  &__tag--position {
    top: -9px;
   @include above($md) {
     right: 35px;
   }
  }
  &__title--different-width {
    @include above($md) {
      width: 260px;
    }
    @include above($lg) {
      width: auto;
    }
  }
}