.catalog {
  &__card--desktop {
    display: none;
    @include above($lg) {
      display: block;
    }
  }
  &__title {
    font: {
      family: $font-stack--base;
      size: 20px;
      weight: normal;
    }
    color: $color-blue;
    text-align: center;
    margin-bottom: 5px;
  }
  &__sort {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font: {
      family: $font--additional;
      size: 14px;
    }
    line-height: 1.7;
    color: $color-blue;
    margin-bottom: 26px;
  }
  &__sort::after {
    content: '';
    background: url("../images/sort-arrow.png") no-repeat center;
    width: 9px;
    height: 9px;
    display: block;
    margin-left: 10px;
  }
  &__cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    @include above($md) {
      flex-direction: row;
      align-items: initial;
      flex-wrap: wrap;
      width: 735px;
    }
    @include above($lg) {
      width: auto;
      height: 1055px;
      flex-direction: column;
    }
  }
  &__card {
    position: relative;
    margin-bottom: 18px;
    @include above($md) {
      width: 345px;
    }
    @include above($lg) {
      width: 555px;
      margin-bottom: 0;
    }
  }
  &__btn::after {
    display: inline-block;
    width: 9px;
    height: 9px;
    content: '';
    background: url("../images/catalog-arrow.png") no-repeat center;
    position: relative;
    left: 10px;
  }
  &__card:nth-child(1) {
    @include above($lg) {
      order: 1;
    }
  }
  &__card:nth-child(2) {
    @include above($lg) {
      order: 3;
    }
  }
  &__card:nth-child(3) {
    @include above($lg) {
      order: 4;
    }
  }
  &__card:nth-child(4) {
    margin-bottom: 0;
    @include above($lg) {
      order: 2;
    }
  }
  &__card:nth-child(5) {
    @include above($lg) {
      order: 5;
    }
  }
}