.contacts {
  &__phone {
    display: block;
    font: {
      family: $font--additional;
      size: 14px;
      weight: bold;
    }

    color: $color-blue;
    text-decoration: none;
    line-height: 1.5;

  }
  &__text {
    font: {
      family: $font--additional;
      size: 10px;
      weight: normal;
    }
    color: $color-blue;
    line-height: 1.5;
  }
}