.intro {
  &__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25px;
    @include above($md) {
      top: 142px;
    }
    @include above($lg) {
      top: 80px;
    }
  }
  &__img {
    position: absolute;
    bottom: -35px;
    left: 47%;
    transform: translateX(-50%);
    @include above($md) {
      left: 49%;
    }
    @include above($lg) {
      bottom: -104px;
      left: 50%;
    }
  }
  &__btn {
    position: relative;
  }
  &__title {
    margin-bottom: 34px;
    font-family: $font-stack--base;
    color: $color-blue;
    font-weight: normal;
    text-align: center;
    @include above($md) {
      margin-bottom: 29px;
    }
    @include above($lg) {
      margin-bottom: 72px;
    }
  }
}