.language {
  &__btn {
    color: $color-blue;
    font: {
      family: $font--additional;
      size: 14px;
    }
    line-height: 3.4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__content {
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: $color-blue;
    top: 34px;
    width: 70px;
    left: -15px;
  }
  &__btn::after {
    content: "";
    display: block;
    width: 7px;
    height: 5px;
    background: url("../images/arrow.png") no-repeat center;
    margin-right: 15px;
  }
  &__link {
    width: 100%;
    color: $color-white;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  &__link:hover {
    background-color: $color-white;
    color:$color-black;
  }
  &__content--opened  {
    display: flex;
  }
}