.login {
  &__btn {
    color: $color-blue;
    font: {
      family: $font--additional;
      size: 14px;
    }
    line-height: 3.4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__content {
    position: absolute;
    display: none;
    width: 150px;
    flex-direction: column;
    background: $color-blue;
    align-items: center;
    top: 35px;
  }
  &__btn::before {
    content: "";
    display: block;
    width: 10px;
    height: 12px;
    background-image: url("../images/user.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  &__btn::after {
    content: "";
    display: block;
    width: 7px;
    height: 5px;
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  &__link {
    color: $color-white;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
  }
  &__link:hover {
    background-color: $color-white;
    color: $color-black;
  }
  &__content--opened {
    display: flex;
  }
}