.main-content {
  &__intro {
    background-size: cover;
    background: $color--bg-intro url("../images/intro-bg-mobile.jpg") no-repeat bottom;
    position: relative;
    height: 583px;
    padding-top: 92px;
    padding-bottom: 206px;
    box-sizing: border-box;
    @include above($mland) {
      background-image: url("../images/intro-bg-tab.jpg");
    }
    @include above($md) {
      padding-top: 215px;
      height: 601px;
    }
    @include above($lg) {
      height: 644px;
      padding-top: 173px;
      background-image: url("../images/intro-bg-d.jpg");
    }
  }
  &__btn {
    background-color: $color-blue--light;
    position: relative;
    display: block;
    width: 202px;
    color: $color-white;
    font: {
      family: $font--additional;
      size: 14px;
    }
    line-height: 3.4;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  &__catalog {
    background: $color--bg-gray;
    padding-bottom: 31px;
    padding-top: 49px;
    @include above($md) {
      padding-top: 50px;
      padding-bottom: 55px;
    }
    @include above($lg) {
      padding-top: 108px;
    }
  }
  &__btn:hover {
    background-color: $color--btn-hover;
  }
  &__btn:active {
    background: $color--btn-active;
  }
}