.main-menu {
  &__list {
    list-style: none;
    font: {
      family: $font-stack--base;
      size: 18px;
    }
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 415px;
    position: absolute;
    padding: 55px 30px 67px;
    box-sizing: border-box;
    width: 260px;
    background-color: $color-blue;
    top: 46px;
    left: -700px;
    transition: left .8s;
    @include above($md) {
      top: 40px;
    }
    @include above($lg) {
      width: 420px;
      padding-left: 44px;
      padding-right: 127px;

    }
  }
  &__item:last-child {
    margin-bottom: 0;
  }
  &__link {
    text-decoration: none;
    color: $color-white
  }
  &__btn {
    display: block;
    width: 22px;
    height: 18px;
    position: absolute;
    top:25px;
    left: -2px;
    @include above($md) {
      top: 9px;
      left: 16px;
    }
    @include above($lg) {
      left: 13px;
    }
  }
}