.page-footer {
  padding-top: 24px;
  padding-bottom: 24px;
  @include above($md) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  &__social {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
    justify-content: space-between;
    @include above($md) {
      margin-bottom: 0;
      margin-right: 108px;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include above($md) {
      flex-direction: row;
      margin: 0 auto;
      width: 720px;
    }
  }
  &__contacts {
    margin-bottom: 7px;
  }
  &__menu {
    display: none;
    @include above($md) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      list-style: none;
      font: {
        family: $font--additional;
        size: 14px;
      }
      line-height: 1.55;
      margin-right:84px;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include above($md) {
      align-items: flex-start;
    }
  }
}