.page-footer {
  padding-top: 24px;
  padding-bottom: 24px;
  @include above($md) {
  }
  &__social {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: space-between;
    @include above($md) {
      margin-bottom: 0;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include above($md) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__contacts {
    margin-bottom: 15px;
  }
  &__menu {
    display: none;
    @include above($md) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      list-style: none;
      font: {
        family: $font--additional;
        size: 14px;
      }
      line-height: 1.55;
      color: $color-blue;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}