.social {
  &__btn {
    width: 30px;
    height: 32px;
    display: block;
    background: $color-blue;
    font-size: 0;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position:center ;
  }
  &__btn--vk {
    background-image: url("../images/vk.svg");
  }
  &__btn--youtube {
    background-image: url("../images/yt.svg");
  }
  &__btn--ok {
    background-image: url("../images/ok.svg");
  }
  &__btn--inst {
    background-image: url("../images/insta.svg");
  }
  &__caption {
    font: {
      family: $font--additional;
      size: 14px;
      weight: normal;
    }
    line-height: 1.7;
    text-align: center;
    color: $color-blue;
    margin-bottom: 10px;
    @include above($md) {
      text-align: left;
      margin-bottom: 0;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    width: 150px;
    justify-content: space-between;
  }
}