mixin card-picture (src,alt,st,sd)
        picture
            source(srcset=sd, media='(min-width: 1200px)')
            source(srcset=st, media='(min-width: 768px')
            img(class="card__img" src=src alt=alt)