@font-face {
  font-family: 'RobotoSlab';
  src: url("../fonts/RobotoSlab-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab';
  src: url("../fonts/RobotoSlab-Bold.woff") format('woff');
  font-weight: bold;
}